@import url(./common.css);

.odd-or-even{
    margin-top: 100px;
}
.odd-or-even .title{
    font-size: 40px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.game {
    width: 100%;
    height: 600px;
    display: flex;
}
.game .display-box{
    /* background: darkgreen;  */
    background-image: url(../img/홀짝2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 100%;
    position: relative;
}

.game .betting-box{
    background: orange;
    width: 30%;
    height: 100%;
}

#cup {
    position: absolute;
    top: -10%; /* 20까지 */
    left: 25%;
    width: 50%;

    z-index: 5;
}

.dice{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.dice img{
    width: 80px;
}

@keyframes shake {
    0%,100%{
        transform: translate(0, 0);
    }
    20%,80%{
        transform: translate(0,150px);
    }
    25%,35%,45%,55%,65%,75%{
        transform: translate(-30px,150px);
    }
    30%,40%,50%,60%,70%{
        transform: translate(30px,150px);
    }
}
#cup.action{
    animation-name: shake;
    animation-duration: 4s;
}

.hide{
    display: none;
}

/* #oddEven{
    width: 100%;
} */

.btns{
    position: relative;
}

.btn{
    width: 120px;
    margin: 10px 20px 10px 0;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    padding: 0;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background: #00AE68;
    box-shadow: 0px 5px 0px 0px #007144;
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
    background: #21825B;
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px #007144;
}

.btn.restart{
    margin-top: 80px;
}
.btn.restart:active{
    margin-top: 85px;
}

.btn.rule{
    margin-top: 160px;
}
.btn.rule:active{
    margin-top: 165px;
}

.bet-cash #betting-cash{
    width: 100px;
    border: none;
    background: none;
    color: #fff;
    border-bottom: 1px solid #000;
    font-size: 25px;
}
.betting-box .bet-odd-even{
    margin-top: 10px;
    

}
.betting-box .bet-cash{
    margin-top: 10px;
}
.btn.blocked{
    background: #999;
    box-shadow: 0px 5px 0px 0px #777;
}














input{
    font-family: sans-serif;
    border: 0;
    outline: none;
    font-size: 10px;
    background: rgba(0, 0, 0, 0);
    color: red;
}

input::placeholder{
  /* color: #d9d9d9; */
  color:white;
}

.dust-class{
  width: 50%; 
  box-sizing: border-box;
  margin: 20px 0;
  position: relative;
  top: 1px;
  left: 240px;
}

.dust-class label{
  display: inline-block;
  position: absolute;
  top: -13px;
  left: 14px;
  padding: 10px;
  background: black;
  font-size: 14px;
  color: #888;
  font-weight: bold;
  border-radius: 8px;
}

.dust-class label span{
  color: #da4841;
  vertical-align: -1px;
}

.dust-class input{
    width: 100%;
    border: 1px solid white;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
}

.dust-class label button {
    background-color: #888;
}


.width-container{
    background: darkgreen;
}
