@import url(./common.css);

@keyframes spinBall {
    0%{
        transform: rotate(0);
        height: 700px;
    }
    100%{ transform: rotate(3600deg);
        height: 488px;}
    
}

/* @keyframes boxOpen {
    0%{
        height: 0;
    }
    100%{
        height: 210px;
    }
    
}

@keyframes boxClose {
    0%{
        height: 210px;
    }
    100%{
        height: 0;
    }
    
} */

.width-container{
    width: 80%;
    padding: 150px 0;
    box-sizing: border-box;
}
#roulette{
    width: 70%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* animation-name: spinBg;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */

    position: relative;
}
#roulette #roulette-bg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
@keyframes spinBg {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.game{
    display: flex;
}

.display-box p{
    color: #fff;
    font-size: 100px;
    font-weight: 700; 
    text-align: center;
    line-height: 400px;
    z-index: 3;
    
}
.display-box{
    width: 400px;
    height: 400px;
    background: green;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    

    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    animation: none;

}
#roulette{
    margin-bottom: 100px;
}
#roulette .location{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#roulette .ball-location{
    width: 35px;
    height: 700px;

}
#ball{
    width: 35px;
    height: 35px;
    
    position: absolute;
    background: #fff;
    border-radius: 50%;

}
.betting-box .blocked{
    opacity: 0.7;
}

.ball-location.spin{
    animation-name: spinBall;
    animation-duration: 6s;
    animation-timing-function: 1;
    animation-fill-mode: forwards;
}

.width-container .btn1{
    font-size: 30px;
    background: #888;
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 60px 6%;
    display: inline-block;
    
    cursor: pointer;
}
.width-container .btn1:last-child{
    margin-top: 0px;
}

.width-container .btn1.blocked{
    color: #666;
}
.width-container .btn1:hover{
    background: skyblue;
}
.betting-box{
    width: 30%;
    z-index: 5;
    position: relative;
}
.betting-box.open{
    animation-name: boxOpen;
    animation-duration: 1s;
}
.betting-box.close{
    animation-name: boxClose;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#betting-cash:focus{
    outline: 0;
}
#betting-cash{
    font-size: 30px;
    padding-top: 20px;
    text-align: right;
    border: 0;
    background: none;
    border-bottom: 1px solid #000;
    width: 150px;
}
.betting-box>div{
    margin-top: 10px;
}

.bet-cash span:active{
    color: #888;
}

.showResult{
    position: absolute;
    width: 65%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 4;
}
.showResult img{
    width: 100%;
}
.showResult p{
    position: absolute;
    font-size: 100px;
    color: yellow;
    top: 40%;
    left: 50%;
    text-shadow: 3px 3px black;

    transform: translateX(-30%);
}
.hide{
    display: none;
}

.title h2{
    font-size: 40px;
    margin-left: 20px;
    padding-bottom: 50px;
    color: #fff;
    text-shadow: 2px 2px 2px black;
}

#reset-btn{
    position: relative;
    z-index: 11;
}

.rule-box{
    position: absolute;
    left: -170%;
    bottom: 50px;
    z-index: 15;
    background: #fff;
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    display: none;
}
.btn-rule:hover+.rule-box{
    display: block;
}
.rule-box h4{
    padding: 10px 0;
    font-weight: 700;
}
.rule-box p{
    line-height: 1.2;
}
.rule-box p span{
    font-weight: 700;
    color: blue;
}


#roulette {
    background: darkgreen;
}