@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

.wrapper{
    background: rgb(233, 235, 240);
    height: 100vh;
    position: relative;
}

section.main {
    background: #fff;
    width: 500px;
    height: 500px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px -1px 20px black;
}

section.main .main-title{
    padding: 20px;
    text-align: center;
    background: skyblue;
    color: #fff;
    font-size: 35px;
}

.input-box{

}

.todo-list li{
    display: flex;
}